name: Termin Checker

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  check-appointments:
    runs-on: ubuntu-latest
    # HIER IST DER TRICK: Wir nutzen das offizielle Playwright-Image
    container:
      image: mcr.microsoft.com/playwright/python:v1.56.0-jammy
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      # Python ist im Image schon da, wir installieren nur noch dein Skript-Zubehör
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          # "playwright install" ist NICHT mehr nötig, da die Browser im Image sind!

      - name: Run Script
        run: python main.py

      - name: Upload Screenshots
        uses: actions/upload-artifact@v4
        if: always() # Lädt Screenshots hoch, auch wenn das Skript einen Fehler wirft
        with:
          name: screenshots
          path: results/
          retention-days: 5
